@import 'fipps-webfontkit/stylesheet.css';

$base-font-size: 20px;
$base-font-family: 'fippsregular', courier, serif;

// Colours
$color-font: #000000;
$color-background: #71B48D;
$color-primary: #404E7C;
$color-secondary: #251F47;
$color-tertiary: #86CB92;


html {
    font-family: $base-font-family;
    font-size: $base-font-size;
}

body {
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    background-color: $color-background;
    background-image: url('/css/body-bg.svg');
    background-size: 580px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #link-pop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 2em;

        margin-bottom: 100px; /* Manually vertical align */

        .icon {
            position: relative;

            padding: 0.75em;
            border-radius: 0.5em;
            max-height: 2em;
            max-width: 2em;
            margin: 10px;

            background-color: rgba(230, 230, 230, 1);
            border: outset 1px white;
            box-shadow: 2px 2px black;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
                box-shadow: -1px -1px black;
                border: inset 1px white;
                background-color: rgba(220, 220, 220, 1);
            }

            &:not([href]) {
                cursor: wait;
            }

            .description {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 0.15em;
                color: black;
                text-decoration: none;
            }

            img {
                display: block;
                aspect-ratio: 1;
                height: 1.5em;
                width: 1.5em;
            }
        }
    }

    #loader {
        display: block;
        position: fixed;

        font-size: 2em;
    }

    #footer {
        position: fixed;
        bottom: 0vh;
        width: 100vw;
        display: flex;
        justify-content: flex-end;

        #links {
            display: flex;
            flex-direction: column;
            padding: 0 1vh 1vh 0;

            a {
                text-decoration: none;
            }

            /* unvisited link */
            a:link {
                color: $color-primary;
            }

            /* visited link */
            a:visited {
                color: $color-primary;
            }

            /* mouse over link */
            a:hover {
                color: $color-secondary;
            }

            /* selected link */
            a:active {
                color: $color-primary;
            }
        }
    }

    .visible {
        visibility: visible;
    }

    .hidden {
        visibility: hidden;
    }
}
