body {
	background-color: #F2F2F2;
	max-width: 5000px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#mainImage{
	width: 100.15%;
	height: 800px;
	margin-bottom: -10px
}

#ImageCredits {
	text-align: right;
}

#divBlocks {
	margin: -3px;
}

.divCell {
	/*border-style: dotted;*/
	border-radius: 0px;
	border-width: 1px;
	margin: 4px;
	padding: 3px;
	background-color: #FFE4B5;

}

#aboutMe {
	font-size: medium;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	float: top;
	height: 700px;
}

#aboutMeDescription {
	font-size: 20px;
	font-family: Impact, Charcoal, sans-serif;
}

#centerBlock{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#socials {
	font-family: Impact;
	/*float: top;*/
	margin-left: auto;
	margin-right: auto;
	float: bottom;
}

#aboutMe3Col{
	width: 99%;
	float: left;
}

#aboutMeLeft {
	width: 33%;
	float: left;
}

#aboutMeCenter {
	width: 33%;
	float: left;
}

#aboutMeRight {
	width: 33%;
	float: left;
}

.divCellHeader {
	font-size: 30px;
	background-color: #FFBA42; /*#664100;*/
	height: 50px;
	border-radius: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.CellHeader {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);

}

.cellContent {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.firstLetter {
	font-weight: 900;
}
