body{
    padding: 20px;
    font-family: consolas;
}

#inner {
    width:700px;
}

.center{
    margin:0 auto;
    text-align:center;
}

.messageInput{
    font-family: consolas;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

.messages {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
}